@use '../Global' as *;

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .weather-app {
    @include flex(column, center, center);
    width: 100%;

    .weather-search {
      @include flex(row, center, center);
      gap: .2rem;
  
      .search-input {
        width: 100%;
        max-width: 400px;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: white;
        color: black;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        z-index: 1;
    
        &:focus {
          outline: none;
          box-shadow: 0 0 5px black;
        }
        &::placeholder {
          color: $background-color;
        }
      }
  
      .search-button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: white;
        color: $background-color;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        z-index: 1;
  
        &:hover {
          color: white;
          background-color: $background-color;
          border: 1px solid white;  
          transform: scale(1.05);
        }
      }
    }

    .weather-display {
      @include flex(row, flex-start, flex-start);
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      color: $background-color;

      .weather-information {
       @include flex(column, space-between, space-between);
       flex: 1;
       width: 60%;
       
        .weather-location {
          font-size: $font-size-heading;
          font-weight: bold;
        }
        .weather-condition {
          font-size: $font-size-subheading;
          font-weight: 500;
        }
      }
     
      .weather-icon-container {
        @include flex(row, center, center);
        flex: 0 0 40%;
        margin: auto;

        .weather-icon {
          width: 20vh;
          margin-top: -16.5vh;
          margin-bottom: -15vh;
          margin-right: -12vw;
        }
      }
    }

    .weather-details {
      @include flex(row, space-between, center);
      margin-top: .5rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      color: $background-color;
      
      .weather-details-container {
        @include flex(column, center, center);
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid white;
      }
      .weather-detail {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid white;
      }
    }

    .weather-forecast {
      @include flex(column, center, center);
      margin-top: .5rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      color: $background-color;

      .forecast-day {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid white;

        .forecast-day-left {
          @include flex(row, none, center);
          width: 80%;
          padding: 0.5rem;
          border-bottom: 1px solid white;

          .forecast-day-label {
            font-size: $font-size-subheading;
            font-weight: bold;
            width: 80%;
          }
        }
        .forecast-day-right {
          @include flex(row, flex-end, center);
          width: 20%;
          padding: 0.5rem;
          border-bottom: 1px solid white;

          .forecast-temp {
            @include flex(column, center, center);
          }
        }
        .forecast-date {
          font-size: $font-size-subheading;
          font-weight: bold;
        }
        .forecast-icon {
          width: 20%;
          margin-left: 1rem;
        }
      }
    }
  } 
}