body {
	padding-top: 4rem;
	text-align: center;
	font-family: Arial, sans-serif;
  }
  
h1 {
	text-shadow: #45a049 1px 0px 10px;
}

  #buttons {
	display: flex;
	justify-content: center;
	margin: 20px 0;
  }
  
  button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	margin: 0 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  #output {
	margin-top: 20px;
  }
  