body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.input-fields {
	display: flex;
	flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.input-fields input, .input-fields button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 300px;
}

.input-fields button {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.story {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
